/* ---------- GENERAL ---------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    transition: 0.5s ease;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgb(45, 139, 216);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

/* ---------- MENU ---------- */
div.menu-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 186, 4);
    width: 100vw;
    height: 100vh;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

div.menu-main > h1.title {
    font-size: 3em;
    letter-spacing: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

div.menu-main > button.button {
    background-color: rgba(4, 170, 109, 0.404);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

div.menu-main > button.button:hover, div.menu-main > button.button:active {
    background-color: rgba(4, 170, 109, 1);
}

/* ---------- NAVBAR ---------- */
nav.navbar {
    background-color: red;
    width: 100vw;
    padding: 5px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 30px;
}

nav.navbar > button.game-btn {
    border: none;
    background-color: rgba(231, 112, 14, 0);
    color: white;
    padding: 10px 35px;
    cursor: pointer;
}

nav.navbar > button.game-btn:hover {
    background-color: rgba(231, 112, 14, 1);
}

/* ---------- PLAY AREA ---------- */
div.game-play-area {
    height: 500px;
    border: 2px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    object-fit: cover;
}

/* ---------- GAME BITXO NEEDS ---------- */
div.game-play-needs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 30px;
}
